<% provide(:title, 'ログイン') %>

<style>
  div.session-form-wrapper {
    margin: 0 auto;
  }

  form {
    width: 100%;
  }

  .field-body {
    display: grid;
    margin-right: 20%;
  }
</style>

<div class="contents-wrapper">
  <h1>ログイン</h1>

  <%= render 'layouts/flash' %>

  <div class="session-form-wrapper">
    <%= form_with(url: login_path, local: true, scope: :session) do |form| %>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= form.label 'メールアドレス', class: 'label' %>
        </div>
        <div class="field-body">
          <div class="control">
            <div class="field">
              <p class="control">
                <%= form.email_field :email, class: 'input is-rounded', placeholder: 'email@example.com' %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <%= form.label 'パスワード', class: 'label' %>
        </div>
        <div class="field-body">
          <div class="control">
            <div class="field">
              <p class="control">
                <%= form.password_field :password, class: 'input is-rounded' %>
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="control">
            <%= form.submit 'ログイン', class: 'button is-primary has-text-white is-rounded is-fullwidth' %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="control">
          <small>未登録ですか？</small>
          <%= link_to '新規登録', new_user_path, class: 'button is-primary is-rounded is-outlined is-fullwidth' %>
        </div>
      </div>
    </div>
  </div>
</div>
