<style>
  table {
    width: 100%;
  }
</style>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>E-mail</th>
      <th>フォロー</th>
      <th>フォロワー</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <th><%= user.id %></th>
        <td><%= link_to user.email, user_path(user) %></td>
        <td><%= link_to (@followees_counts[user.id] || 0), user_followees_path(user.id) %></td>
        <td><%= link_to (@followers_counts[user.id] || 0), user_followers_path(user.id) %></td>

        <% if session[:user_id] == user.id %>
          <td>
            <%= link_to '削除', user_path(user), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'button is-danger has-text-white is-rounded is-fullwidth' %>
          </td>
        <% else %>
          <td>
            <% if current_user != user %>
              <% if current_user.followee?(user.id) %>
                <% relationship = @followees_by_user[user.id] %>
                <%= link_to 'フォロー中', user_relationship_path(user.id, relationship), data: { turbo_method: :delete }, class: (defined?(options) && options[:class].presence) || 'button is-primary is-rounded has-text-white is-fullwidth' %>
              <% else %>
                <%= link_to 'フォローする', user_relationships_path(user.id), data: { turbo_method: :post }, class: (defined?(options) && options[:class].presence) || 'button is-primary is-rounded is-outlined is-fullwidth' %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
