<% provide(:title, 'User一覧') %>
<%= render 'shared/header' %>

<h1>Users リスト</h1>

<%= render 'layouts/flash' %>

<table>
  <tr>
    <th>ID</th>
    <th>E-mail</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.email, user_path(user) %></td>
      <td><%= button_to '削除', user, method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to '新規ユーザー', new_user_path %>