<% provide(:title, 'User詳細') %>
<%= render 'shared/header' %>

<h1>User 詳細</h1>

<%= render 'layouts/flash' %>

<p>id: <%= @user.id %></p>
<p>Email: <%= @user.email %></p>

<%= link_to 'ユーザー一覧', users_path %>
<%= link_to 'ユーザー情報編集', edit_user_path(@user) %>
