<% provide(:title, 'Home') %>
<style>
  div.search-box {
    display: flex;
  }
</style>

<div class="contents-wrapper">
  <h1>ポスト</h1>

  <%= render 'layouts/flash' %>

  <div class="field has-addons">
    <%= form_with url: posts_path, method: :get, local: true do |form| %>
      <div class="search-box">
        <span class="control">
          <%= form.text_field :query, class: 'input is-rounded', placeholder: 'キーワード', size: '140' %>
        </span>
        <span class="control">
          <%= form.submit '検索', class: 'button is-primary has-text-white is-rounded' %>
        </span>
      </div>
    <% end %>
  </div>

  <% if @posts.present? %>
    <% if @query.blank? %>
      <h2>すべてのポスト</h2>
    <% else %>
      <h2><%= @query %> の検索結果</h2>
    <% end %>
    <div class="posts">
      <%= render @posts %>
    </div>
  <% end %>

  <nav class="pagination" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
      <li style="margin: 0;">
        <%= link_to '< prev', posts_path(first_post_id: @prev_cursor, query: params[:query]), class: 'pagination-previous' %>
      </li>

      <li style="margin: 0;">
        <%= link_to 'next >', posts_path(last_post_id: @next_cursor, query: params[:query]), class: 'pagination-next' %>
      </li>
    </ul>
  </nav>
</div>
