<% provide(:title, 'Home') %>
<style>
  div.search-box {
    display: flex;
  }
</style>

<div class="contents-wrapper">
  <h1>ポスト</h1>

  <%= render 'layouts/flash' %>

  <div class="field has-addons">
    <%= form_with url: posts_path, method: :get, local: true do |form| %>
      <div class="search-box">
        <span class="control">
          <%= form.text_field :query, class: 'input is-rounded', placeholder: 'キーワード', size: '140' %>
        </span>
        <span class="control">
          <%= form.submit '検索', class: 'button is-primary has-text-white is-rounded' %>
        </span>
      </div>
    <% end %>
  </div>

  <% if @posts.present? %>
    <% if @query.blank? %>
      <h2>すべてのポスト</h2>
    <% else %>
      <h2><%= @query %> の検索結果</h2>
    <% end %>
    <div class="posts">
      <% @posts.each do |post| %>
        <article class="media">
          <div class="media-content">
            <div class="post-wrapper">
              <p><%= link_to post.user.email, user_path(post.user) %></p>
              <p><%= link_to post.title, post %></p>
              <div>
                <%= simple_format(post.content) %>
              </div>
              <div>
                <span>
                  <% if current_user.favorited?(post) %>
                    <%= link_to post_favorite_path(post, current_user.favorites.find_by(post: post)), data: { turbo_method: :delete } do %>
                      <span class="material-icons has-text-danger">
                        favorite
                      </span>
                    <% end %>
                  <% else %>
                    <%= link_to post_favorites_path(post), data: { turbo_method: :post } do %>
                      <span class="material-icons has-text-grey">
                        favorite_border
                      </span>
                    <% end %>
                  <% end %>
                  <span>
                    <%= post.favorites.count %>like
                  </span>
                </span>
              </div>
            </div>
          </div>
        </article>
      <% end %>
    </div>
  <% end %>

  <% if @upcoming_page_count > 1 || @current_page > 1 %>
    <nav class="pagination" role="navigation" aria-label="pagination">
      <ul class="pagination-list">
        <% if @current_page > 1 %>
          <li>
            <%= link_to '<', posts_path(page: @current_page - 1, query: @query), class: 'pagination-previous' %>
          </li>
        <% end %>
        <% @page_range.each do |page| %>
          <li style="margin: 0;">
            <%= link_to page, posts_path(page: page, query: @query), class: 'pagination-link' %>
          </li>
        <% end %>
        <% if @upcoming_page_count > 1 %>
          <li style="margin: 0;">
            <%= link_to '>', posts_path(page: @current_page + 1, query: @query), class: 'pagination-next' %>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>
</div>
