<% provide(:title, 'Home') %>

<style>
  nav.page-navigation {
    max-width: 14rem;
  }

  ul.pagination {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
</style>

<%= render 'shared/header' %>

<h1>ポスト</h1>

<%= render 'layouts/flash' %>

<%= form_with url: posts_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :query, '検索' %>
    <%= form.text_field :query %>
    <%= form.submit '検索' %>
  </div>
<% end %>
<% if @posts.present? %>
  <% if @query.blank? %>
    <h2>全てのポスト</h2>
  <% else %>
    <h2><%= @query %> の検索結果</h2>
  <% end %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <table>
          <tr><td><%= link_to post.user.email, user_path(post.user) %></td></tr>
          <tr><td><%= link_to post.title, post %></td></tr>
          <tr><td><%= post.content %></td></tr>
        </table>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @upcoming_page_count > 1 || @current_page > 1 %>
  <nav class="page-navigation">
    <ul class="pagination">
      <% if @current_page > 1 %>
        <li class="page-item">
          <%= link_to '<', posts_path(page: @current_page - 1, query: @query), class: 'page-link' %>
        </li>
      <% end %>
      <% @page_range.each do |page| %>
        <li class="page-item <%= 'active' if page == @current_page %>">
          <%= link_to page, posts_path(page: page, query: @query), class: 'page-link' %>
        </li>
      <% end %>
      <% if @upcoming_page_count > 1 %>
        <li class="page-item">
          <%= link_to '>', posts_path(page: @current_page + 1, query: @query), class: 'page-link' %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>