<% provide(:title, 'ポスト詳細' + @post.title) %>

<style>
  .field.has-addons {
    width: 100%;
  }

  div.control {
    width: 50%;
  }
</style>

<div class="contents-wrapper">
  <h1>ポスト詳細</h1>
  <%= render 'layouts/flash' %>

  <article class="media">
    <div class="media-content">
      <p>
        <strong><%= link_to @post.user.email, user_path(@post.user) %></strong>
      </p>
      <p><%= @post.title %></p>
      <p><%= simple_format(@post.content) %></p>
      <p>
        <small>投稿日時：<%= @post.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></small>
        <br>
        <small>更新日時：<%= @post.updated_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></small>
      </p>
      <div>
        <%= render 'favorites/btn', { post: @post, favorite: @favorite, favorite_count: @favorite_count } %>
      </div>
    </div>
  </article>

  <div class="field has-addons">
    <% if session[:user_id] == @post.user_id %>
      <div class="control">
        <%= link_to 'ポスト編集', edit_post_path(@post.id), class: 'button is-primary has-text-white is-rounded is-fullwidth' %>
      </div>

      <div class="control">
        <%= link_to 'ポスト削除', post_path(@post.id), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'button is-danger has-text-white is-rounded is-fullwidth' %>
      </div>
    <% end %>
  </div>

  <div>
    <%= link_to 'ポスト一覧', posts_path, class: 'button is-primary is-outlined is-rounded is-fullwidth' %>
  </div>

  <%= render 'posts/comments/form', { post: @post } %>

  <h3>みんなのコメント</h3>
  <%= render 'posts/comments/comment', { comments: @comments } %>
</div>
