<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css"
    >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      @media screen and (max-width: 767px) {
        div.content {
          display: grid;
          margin: 2%;
        }

        div.side-spacer {
          display: none;
        }
      }

      @media screen and (min-width: 767px) {
        div.content {
          display: flex;
          justify-content: center;
        }

        div.side-spacer {
          flex-basis: 25%;
        }

        div.contents-wrapper{
          flex-basis: 75%;
          margin: 2% auto;
        }
      }
    </style>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/header' %>
      <div class="content">
        <div class="side-spacer"></div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
